/* Page settings */
.App {
  background: linear-gradient(to top, #104917, #39B54A);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header for page */
.header {
  display: flex;
  justify-content: center;
  height: 3.5rem;
  width: 100vw;
  background: #232526;
  display: flex;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.title {
  display: flex;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}

.progressBar {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  height: 20rem;
  width: 20rem;
}

.selectionMenu {
  display: flex;
  justify-content: space-between;
}

.menuText {
  display: flex;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bolder;
}

.leftArrow {
  height: 6rem;
  width: 6rem;
  border: none;
  background: url(arrowLeft.png);
  background-size: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
}

.rightArrow {
  height: 6rem;
  width: 6rem;
  border: none;
  background: url(arrowRigh.png);
  background-size: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 2rem;
}