/* Page settings */
.App {
  background: linear-gradient(to top, #104917, #39B54A);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header for page */
.header {
  display: flex;
  justify-content: center;
  height: 1.5rem;
  width: 100vw;
  background: linear-gradient(to top, #414345, #232526);
  display: flex;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
}

.title {
  display: flex;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.centerSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressBar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: white;
}