.footer {
    height: 5rem;
    width: 100%;
    background: linear-gradient(to top, #232526, #414345);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;
  }

  .weekly {
    height: 4rem;
    width: 4rem;
    border: none;
    background: url(week.png);
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 3rem;
  }

  .weekly:active {
      background-size: 3.5rem;
  }

  .home {
    height: 4rem;
    width: 4rem;
    border: none;
    background: url(home.png);
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home:active {
      background-size: 3.5rem;
  }

  .setting {
    height: 4rem;
    width: 4rem;
    border: none;
    background: url(setting.png);
    background-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3rem;
  }

  .setting:active {
      background-size: 3.5rem;
  }